[submodule "backend"]
	path = backend
	url = https://github.com/EversonCordeiroSilva/Portfolio-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/EversonCordeiroSilva/Portfolio-Frontend.git
